body
{
	background-color: #0082FC
}

h1
{
	text-align: center;
	font-family: "Raleway";
	font-size: 80px;
	font-weight: 300;
}

p
{
	text-align: center;
}

form
{
	text-align: center;
}

input[type = "submit"], input[type = "search"], select
{
	margin: 2px;
	background: #A9E2F3;
	border: 0 none;
	border-radius: 5px;
}
